.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body{
  position: relative;
} */
.footer{
  position: absolute;
  bottom: auto;
  width: 100%;
  /* height: 60px; Set the fixed height of the footer here */
   /* line-height: 60px;  */
   /* Vertically center the text there  */
}

.nav-link .active_class{
  border: 1px solid black;
}

.home-main .brand-name {
  color: #61b7df;
}

.home-main .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down{
  0% {
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

@keyframes up-down{
  0% {
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}


.App {
  text-align: center;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.carousel-items {
  display: flex;
  align-items: center;
}

.carousel-item {
  margin: 0 5px;
  transition: transform 0.3s;
  flex: 0 0 20%;
}

img.carousal-img {
  width: 150px;
  height: 125px;
  max-width: 150px;
  max-height: 150px;
  cursor: pointer;
  border-radius: 50%;
}

/* img.carousal-img {
  width: 150px;
  height: 150px;
} */


.center {
  transform: scale(1.5);
  margin: 3.2rem;
  opacity: none;
}

.opacity {
  opacity: 0.7;
}

.end {
  transform: scale(0.6);
  margin: -15px;
}

button {
  font-size: 24px;
  padding: 5px 10px;
  margin: 10px;
}

.carousel-container .description{
  margin-top: 15px;
  text-align: center;
}

.card {
  height: -webkit-fill-available !important;
  max-height: 100%;
}

img.card-img-top {
  /* height: -webkit-fill-available; */
  height: 160px;
  max-height: 100%;
}

.card .description {
  margin-bottom: 10px;
  font-size: 14px;
  height: 12em;
  max-height: 100%;
}
p.card-text {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:5;
  display: -webkit-box;
}

.home-main .desc{
  font-size: 16px;
}